<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bitcoin Price Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
        body {
            font-family: 'Roboto', serif;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>

<body>
<h1>Bitcoin Price Tracker</h1>
<h2 id="todayDate"></h2>
<h2 th:text="${crypto_fiat}"></h2>
<canvas id="myChart" style="width: 60vw;max-width: 60vw"></canvas>
<button type="button" class="btn btn-primary" onclick="location.reload();">Reload</button>
</body>
<script th:inline="javascript">
    init();

    function init() {
        var todayDate = document.getElementById("todayDate");
        todayDate.innerHTML = newDate();
        var data = /*[[${obj.Data.Data}]]*/ 'default';
        console.log('data:', data);
        var xValues = [];
        var yValues = [];
        for (let i = 0; i < data.length; i++) {
            xValues.push(timestampToDate(data[i].time));
            yValues.push((data[i].high + data[i].low) / 2);
        }
        console.log('x-values:', xValues);
        console.log('y-values:', yValues);
        var myChart = new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    fill: false,
                    data: yValues
                }]
            },
            options: {legend: {display: false}}
        });
        var myChart = document.getElementById("myChart");
        myChart.style.removeProperty('display');
    }

    function newDate() {
        var a = new Date();
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var time = date + ' ' + month + ' ' + year;
        return time;
    }

    function timestampToDate(UNIX_timestamp) {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        if (hour < 10)
            hour = "0" + hour;
        var min = a.getMinutes();
        if (min < 10)
            min = "0" + min;
        var sec = a.getSeconds();
        if (sec < 10)
            sec = "0" + sec;
        var time = hour + ':' + min + ':' + sec;
        return time;
    }
</script>
</html>